
body,ul,li,p{

    margin:0px;
    padding:0px;
    list-style:none;
    font: size 1.2rem;
    font-family:Arial;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: rgb(240, 126, 13);
}

.header{
    background-color: rgb(17, 16, 15);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
}
.menu{
    display: flex;
    flex-wrap:wrap;
}
.menu li{
    color: rgb(212, 207, 198);
    margin-left:10px;
    display: block;
    flex-wrap: wrap;
    padding:10px;

    

}

.port{

    text-align: center;
}

.sobre{
    text-align: center;
}

.hob{
    text-align:center;
}

body{

    background-color: rgba(240, 234, 228, 0.952);

}

#foto{

    width:50px;
    height:50px;
}
.foto2{

    width:200px;
    height:200px;

}

h2{

    
    color: rgb(37, 37, 35);
    
}

h1{

    color: rgb(19, 18, 18);
    text-align: center;
}

p{

    text-align: center;
    color: rgb(26, 26, 24);
}

/*.....Formulário.....*/
#area{

    position:fixed;
    left:37%;
    top:29%;
    width:320px;
    height:270px;
    flex-wrap: wrap;
    display: flex;
    
    
}

#area #formulario{

    position:absolute;
    display:block;

}

fieldset {

    width:300px;
    height:250px;
}

legend{

    font-style:bold;
    font-family:"segoe UI";
}

#formulario label{

    position: absolute;
    left: 19px;
    margin-right: 5px;
}

#formulario input.campo_nome{

    position: absolute;
    left: 95px;
    top: 23px;
    width: 225px;
}
#formulario input.campo_email{

    position: absolute;
    left: 95px;
    margin-top:2px;
    width: 225px;
}
